.download {
    border-bottom: 1px solid #e0e0e0;
}

.download-heading {
    text-align: center;
    padding: 2em 0;
}

.download-title {
    padding-bottom: .5em;
}

.download-icon-appstore {
    img {
        margin: 0 auto;
        text-align: center;
    }
}

.download-icon {
    background: $base-gradient;
    border-radius: 30px;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon-letter {
    font-size: 5rem;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}