.download {
    @include border;
}

.download-heading {
    text-align: center;
    padding: 2em 0;
}

.download-title {
    padding-bottom: .5em;
}

.download-icon-img {
    margin: 0 auto;
}

.download-icon {
    background: $base-gradient;
    border-radius: 30px;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon-letter {
    font-size: 5rem;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
}