/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363636;
  font-weight: 900;
  line-height: 1.2; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

img {
  display: block;
  max-width: 100%; }

span,
a,
p {
  font-size: 1em;
  font-family: 'Lato', sans-serif; }
  @media (max-width: 425px) {
    span,
    a,
    p {
      font-size: 1.4rem; } }

a {
  text-decoration: none;
  color: #363636;
  outline: 0; }
  a:active {
    text-decoration: none; }

p {
  color: #808080;
  line-height: 1.77; }

.text-bold {
  font-weight: 900; }

.text-italic {
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (max-width: 425px) {
    html {
      font-size: 10px; } }
  @media (min-width: 600px) {
    html {
      font-size: 16px; } }

body {
  font-family: 'Lato', sans-serif; }

section {
  padding: 50px 0; }

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1280px; }

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background: -o-linear-gradient(bottom, #eb402c 0%, #d90647 100%);
  background: linear-gradient(360deg, #eb402c 0%, #d90647 100%);
  position: relative; }
  @media (min-width: 992px) {
    .header:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6em;
      -webkit-transform: skewY(-8deg);
          -ms-transform: skewY(-8deg);
              transform: skewY(-8deg);
      right: 0;
      width: 100%;
      height: 12em;
      background-color: white; } }
  @media (min-width: 1440px) {
    .header:before {
      height: 14em;
      bottom: -7em; } }
  @media (min-width: 1920px) {
    .header:before {
      height: 18em;
      bottom: -9em; } }
  @media (min-width: 2560px) {
    .header:before {
      -webkit-transform: skewY(-6deg);
          -ms-transform: skewY(-6deg);
              transform: skewY(-6deg); } }

@media (min-width: 992px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6em; } }

.header-content-description {
  text-align: center;
  padding: 5em 0; }
  @media (min-width: 992px) {
    .header-content-description {
      text-align: left; } }
  .header-content-description h1,
  .header-content-description p {
    margin: 1em 0;
    color: #FFFFFF; }
    @media (min-width: 992px) {
      .header-content-description h1,
      .header-content-description p {
        margin: 0; } }
  @media (min-width: 992px) {
    .header-content-description p {
      padding-bottom: 3em; } }

.header-mockup {
  display: none; }
  @media (min-width: 992px) {
    .header-mockup {
      display: block; } }

@media (min-width: 992px) {
  .header-mockup-image {
    max-width: 100%; } }

.messages {
  border-bottom: 1px solid #e0e0e0; }

@media (min-width: 992px) {
  .messages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.message-box-content {
  padding-top: 3em; }
  @media (min-width: 992px) {
    .message-box-content {
      width: 50%; } }
  .message-box-content h2 {
    padding-bottom: .5em; }

@media (min-width: 992px) {
  .message-box-description {
    padding: 0 2.5rem; } }

.message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 992px) {
    .message-box {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.message-mockup {
  display: none; }
  @media (min-width: 992px) {
    .message-mockup {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; } }

.message-mockup-img1,
.message-mockup-img2,
.message-mockup-img3,
.message-mockup-img4 {
  -webkit-box-shadow: 4px 4px 37px 0 rgba(0, 0, 0, 0.32);
          box-shadow: 4px 4px 37px 0 rgba(0, 0, 0, 0.32);
  max-width: 100%;
  height: auto; }

.message-mockup-img2 {
  position: absolute;
  left: 62%;
  -webkit-transform: translate(-62%, 10%);
      -ms-transform: translate(-62%, 10%);
          transform: translate(-62%, 10%); }

.message-mockup-img4 {
  position: absolute;
  left: 30%;
  top: -11%;
  z-index: -1; }

.testimonals {
  border-bottom: 1px solid #e0e0e0; }
  @media (min-width: 992px) {
    .testimonals {
      margin-bottom: 6em;
      border: 0; } }

.testimonals-content {
  margin-top: 1em; }
  @media (min-width: 768px) {
    .testimonals-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.testimonals-title {
  text-align: center; }

.testimonals-box {
  padding: 2.5em 0; }

.testimonals-box-content {
  padding: 2em;
  position: relative;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease; }
  .testimonals-box-content::after {
    content: " ";
    top: 100%;
    left: 10%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #FFFFFF;
    border-width: 10px;
    margin-left: -10px; }
  .testimonals-box-content:hover {
    -webkit-box-shadow: 0px 15px 37px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 15px 37px 3px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-1em);
        -ms-transform: translateY(-1em);
            transform: translateY(-1em); }

.testimonals-visit-page {
  color: #eb402c;
  font-weight: 900;
  display: inline-block;
  padding-top: 1em; }

.testimonals-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em; }
  @media (min-width: 992px) {
    .testimonals-author {
      padding-left: .75em; } }

.testimonals-author-information {
  margin-left: 1em; }

.testimonals-author-name {
  font-weight: 600;
  color: #000000; }

.testimonals-author-work {
  text-transform: uppercase; }

.features {
  background: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background: -o-linear-gradient(bottom, #eb402c 0%, #d90647 100%);
  background: linear-gradient(360deg, #eb402c 0%, #d90647 100%); }
  .features h4,
  .features p,
  .features span {
    color: white; }
  @media (min-width: 992px) {
    .features {
      padding: 0;
      margin: 6em 0; } }

@media (min-width: 768px) {
  .wrapper-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: relative; } }

@media (min-width: 992px) {
  .wrapper-features {
    padding: 4.8em 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 992px) and (max-width: 1024px) {
  .wrapper-features {
    padding: 0; } }

@media (min-width: 768px) {
  .features-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 51%; } }

@media (min-width: 992px) {
  .features-content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 33%; } }

@media (min-width: 768px) {
  .features-mockup {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0; } }

@media (min-width: 992px) {
  .features-mockup {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    top: -5.3em;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media (min-width: 992px) and (max-width: 1024px) {
  .features-mockup {
    top: -4.5em; } }

.features-mockup-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto; }

.features-box {
  padding: 2em 0; }
  @media (min-width: 600px) {
    .features-box {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 992px) {
    .features-box {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

@media (min-width: 992px) {
  .features-box1,
  .features-box2 {
    text-align: right; } }

@media (min-width: 600px) {
  .features-box-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media (min-width: 992px) {
  .features-box-content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; } }

.features-box-icon {
  display: none; }
  @media (min-width: 600px) {
    .features-box-icon {
      display: inline;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      font-size: 3em;
      padding-right: 1em; } }
  @media (min-width: 992px) {
    .features-box-icon {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      padding: 0 .5em;
      font-size: 2.5em; } }

@media (min-width: 992px) {
  .features-box-icon2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; } }

.newsletter {
  border-bottom: 1px solid #e0e0e0; }
  @media (min-width: 992px) {
    .newsletter {
      padding-bottom: 6em; } }

.newsletter-heading {
  text-align: center; }

.newsletter-title {
  margin: 1em 0; }

@media (min-width: 768px) {
  .newsletter-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2em;
    position: relative; } }

@media (min-width: 992px) {
  .newsletter-mail {
    width: 50%;
    margin: 0 auto; } }

.newsletter-input {
  background: #f8f8f8;
  border: none;
  font-weight: 400;
  border-radius: 25px;
  padding: 1em 2em;
  color: #808080;
  outline: 0;
  width: 100%;
  margin: 1em 0; }
  .newsletter-input:focus {
    -webkit-box-shadow: 0 0 10px 0px rgba(223, 27, 61, 0.5);
            box-shadow: 0 0 10px 0px rgba(223, 27, 61, 0.5); }
  @media (min-width: 600px) {
    .newsletter-input {
      margin: 0; } }

.download {
  border-bottom: 1px solid #e0e0e0; }

.download-heading {
  text-align: center;
  padding: 2em 0; }

.download-title {
  padding-bottom: .5em; }

.download-icon-appstore img {
  margin: 0 auto;
  text-align: center; }

.download-icon {
  background: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background: -o-linear-gradient(bottom, #eb402c 0%, #d90647 100%);
  background: linear-gradient(360deg, #eb402c 0%, #d90647 100%);
  border-radius: 30px;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.download-icon-letter {
  font-size: 5rem;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav-list-2 {
  display: none; }
  @media (min-width: 600px) {
    .nav-list-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 70%; } }
  @media (min-width: 992px) {
    .nav-list-2 {
      width: 50%; } }
  .nav-list-2 li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  @media (min-width: 768px) {
    .nav-list-2 a {
      display: block;
      padding: 20px 0;
      text-transform: uppercase; } }

.footer-select {
  font-size: 1em;
  border: 0;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  padding-right: 40px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: transparent url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-24.png") no-repeat right center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.nav {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 2em 0;
  width: 100%;
  z-index: 999; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 992px) {
    .nav-container {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.nav-logo h1 {
  font-size: 3rem;
  color: white; }

.nav-hamburger {
  display: block;
  background-color: transparent;
  border: 0; }
  @media (max-width: 425px) {
    .nav-hamburger {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: right; } }
  .nav-hamburger span {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .nav-hamburger span:nth-of-type(3) {
      width: 10px;
      margin-top: 5px; }
    .nav-hamburger span:nth-of-type(2) {
      width: 20px;
      margin-top: 5px; }

.toggle-activ span:nth-child(-n+3) {
  width: 30px; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 0;
  background: #d90647;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease; }
  @media (min-width: 992px) {
    .nav-list {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: auto;
      background: transparent; } }
  .nav-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 992px) {
      .nav-list li {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0; } }
  .nav-list a {
    display: block;
    color: white;
    -webkit-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    text-transform: uppercase; }
    .nav-list a:hover {
      text-decoration: line-through; }
    @media (min-width: 992px) {
      .nav-list a {
        padding: .5em 2em; } }

.toggle-list {
  height: 28em; }

.nav-fixed {
  background: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background: -o-linear-gradient(bottom, #eb402c 0%, #d90647 100%);
  background: linear-gradient(360deg, #eb402c 0%, #d90647 100%);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  padding: .2em 0; }

.nav-fixed .nav-list {
  background: transparent; }

@media (min-width: 992px) {
  .nav-hamburger {
    display: none; } }

.btn {
  padding: .75em 2.5em;
  display: inline-block;
  font-weight: bold;
  border-radius: 25px;
  font-family: 'Lato'; }

.btn-white {
  background-color: white;
  color: #eb402c; }

.btn-subscribe {
  border: 0;
  padding: 1em 4em;
  width: 100%;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(223, 27, 61, 0.3);
          box-shadow: 0px 10px 30px 0px rgba(223, 27, 61, 0.3);
  outline: none;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background: -o-linear-gradient(bottom, #eb402c 0%, #d90647 100%);
  background: linear-gradient(360deg, #eb402c 0%, #d90647 100%);
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease; }
  .btn-subscribe:focus {
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0; }
  @media (min-width: 600px) {
    .btn-subscribe {
      position: absolute;
      right: 0;
      width: 40%;
      padding: 1em 0; } }
  @media (min-width: 992px) {
    .btn-subscribe {
      width: 30%; } }

.dot {
  color: #EB402C;
  font-size: 3rem; }
